.divForm {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 35%;
    margin-top: 20px;
    color: white;
    background-color: grey;
    padding: 25px;
    border-radius: 10px;
}

.divForm input {
    display: flex;
    border-radius: 10px;
    height: 23px;
    background-color: white;
    box-shadow: 0 0 5px white;
}

.divForm button {
    display: flex;
    border-radius: 7px;
    height: 23px;
    margin-left: 2px;
    background-color: white;
    border: none;
    padding: 4px;
    cursor: pointer;
}

.error {
    color: red;
}
